[Unit]
Description=Indigo server

[Service]
User=indigo
PAMName=login
ExecStart=/usr/bin/indigo_server --enable-wifi-management

[Install]
WantedBy=multi-user.target
